/* Break points */
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Colours */
$primary-dark: black;
$primary-light: white;
$secondary-dark: grey;
$secondary-light: lightgrey;
