@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

$raleway: "Raleway", serif;
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $raleway;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-light;
}

a {
  color: $primary-dark;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

.container {
  width: 800px;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $primary-light;
  border-radius: 10px;
  margin: 50px;
}
.student-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-bottom: 1px solid $secondary-light;
  &__avatar {
    margin: 50px 10px 0px 30px;
    object-fit: contain;
    width: 20%;
    height: 30%;
    border-radius: 50%;
    border: 1px solid $secondary-light;
  }
  &__details {
    width: 80%;
    margin-bottom: 1.5rem;
  }
}

.search-input {
  width: 97%;
  border: 0;
  border-bottom: 1px solid $secondary-light;
  height: 2rem;
  margin: 2%;
  outline: 0;
  &:focus {
    border-color: $primary-dark;
  }
}

.tag-input {
  @extend .search-input;
  width: 30%;
  margin: 0;
  margin-top: 10px;
  margin-left: 1rem;
}
::placeholder {
  font-family: $raleway;
  font-size: 1rem;
}

div > p {
  margin: 0;
  margin-bottom: 8px;
  margin-left: 1rem;
}

p.grades {
  margin-bottom: 0;
}
.tag-container {
  margin-top: 1rem;
}
.tag {
  background-color: $secondary-light;
  color: $primary-dark;
  padding: 5px 8px;
  border-radius: 4px;
  margin-right: 0.5rem;
  &:first-child {
    margin-left: 1rem;
  }
}

.hide {
  display: none;
}

button {
  background-color: $primary-light;
  border: none;
  font-size: 3rem;
  color: gray;
  align-self: flex-start;
  margin-right: 1rem;
}

::-webkit-scrollbar {
  background: transparent;
}
